---
import { Image } from "astro:assets";
import desktop from "~/assets/desktop.png";
import SectionTitle from "~/components/section-title.astro";
import DefaultLayout from "~/layouts/default.astro";

const utils = [
	{
		name: "Obsidian",
		label: "my home for journaling and taking notes.",
		href: "https://obsidian.md",
	},
	{
		name: "Gitui",
		label: "give me better Git terminal visualization support.",
		href: "https://github.com/extrawurst/gitui",
	},
	{
		name: "Zellij",
		label: "multi-workspace terminal for better access across tasks.",
		href: "https://zellij.dev",
	},
	{
		name: "Starship",
		label: "gives me a new, cooler looking terminal experience.",
		href: "https://starship.rs",
	},
	{
		name: "Oh My ZSH",
		label: "makes your terminal easier.",
		href: "https://ohmyz.sh",
	},
	{
		name: "Yadm",
		label: "manage my dotfile.",
		href: "https://yadm.io",
	},
	{
		name: "atuin",
		label: "shell history with ease.",
		href: "https://atuin.sh",
	},
	{
		name: "broot",
		label: "directory overview but prettier.",
		href: "https://dystroy.org/broot",
	},
	{
		name: "zoxide",
		label: "a smarter cd command.",
		href: "https://github.com/ajeetdsouza/zoxide",
	},
	{
		name: "bat",
		label: "a cat(1) clone with wings.",
		href: "https://github.com/sharkdp/bat",
	},
	{
		name: "fzf",
		label: "fast fuzzy finder.",
		href: "https://github.com/junegunn/fzf",
	},
	{
		name: "eza",
		label: "a modern, maintained replacement for ls.",
		href: "https://eza.rocks",
	},
	{
		name: "fastfetch",
		label: "like neofetch, but much faster because written mostly in C.",
		href: "https://github.com/fastfetch-cli/fastfetch",
	},
	{
		name: "fd",
		label: "a simple, fast and user-friendly alternative to 'find'.",
		href: "https://github.com/sharkdp/fd",
	},
	{
		name: "fzf-tab",
		label: "replace zsh's default completion selection menu with fzf!",
		href: "https://github.com/Aloxaf/fzf-tab",
	},
	{
		name: "delta",
		label: "a syntax-highlighting pager for git, diff, and grep output.",
		href: "https://github.com/dandavison/delta",
	},
	{
		name: "yazi",
		label:
			"blazing fast terminal file manager written in Rust, based on async I/O. ",
		href: "https://github.com/sxyazi/yazi",
	},
];
---

<DefaultLayout title="Uses" desc="What Kalwabed uses" ogImage="uses.jpg">
    <SectionTitle title="Uses">
      Here's a quick overview of the tech and tools I use as a developer on a daily basis.
    </SectionTitle>

  <div class="container">
    <h2>Languages and framework</h2>
    <p>
      I still love the clean foundation of HTML and CSS, but for interactive
      elements, JavaScript reigns supreme. <a href="https://kit.svelte.dev"
        >SvelteKit's</a
      > efficiency and reactivity make it my framework of choice, and TypeScript's
      type annotations bring a welcome layer of confidence to my codebase.
    </p>
    <p>
      Previously, I’ve worked a good deal with <a href="https://react.dev"
        >React</a
      > and <a href="https://nextjs.org">Next</a>. Professionally, I work/have
      worked in various framework flavors, including <a href="https://nuxt.com"
        >Nuxt</a
      >, and <a href="https://astro.build">Astro</a>.
    </p>
    <p>
      My professional career has been deeply rooted in the JavaScript stack,
      with <a href="https://nodejs.org">Node</a> being my trusty companion. Now,
      driven by a desire to improve the web, I'm embarking on a journey to conquer
      <a href="https://www.rust-lang.org">Rust</a> as well.
    </p>

    <h2>Code tools</h2>
    <ul>
      <li>
        <a href="https://neovim.io">Neovim</a>: my current favorite
        terminal editor. It offers more flexibility and ergonomic, via <a href="https://www.lazyvim.org">LazyVim</a>.
      </li>
      <li>
        <a href="https://helix-editor.com">Helix</a>: my previous favorite
        terminal editor. I've been a <a href="https://code.visualstudio.com"
          >Visual Studio Code</a
        > user for a long time. But this change has really allowed me to move faster.
      </li>
      <li>
        Font: <a href="https://github.com/tonsky/FiraCode">Fira Code</a>. My
        favorite dev font since I first encountered it.
      </li>
      <li>
        <a href="https://vivaldi.com">Vivaldi</a>: I’m also a fan of <a
          href="https://brave.com">Brave</a
        >, but Vivaldi is a great browser because it's the same Chromium-based,
        but with all the customization and utilization I need. I use <a
          href="https://librewolf.net">Librewolf</a
        > if I want to test in Firefox.
      </li>
      <li>
        <a href="https://sw.kovidgoyal.net/kitty">Kitty</a>: my favorite
        feature-rich terminal since I migrated to Hyprland.
      </li>
      <li>
        <a href="https://cloudflare.com">Cloudflare</a>: I’m also a fan of <a
          href="https://netlify.com">Netlify</a
        > and <a href="https://vercel.com">Vercel</a>. I moved some projects to
        Cloudflare to have more control over the infrastructure.
      </li>
      <li>
        <a href="https://github.com/Schniz/fnm">fnm</a>: fast and simple Node.js
        version manager, built in Rust.
      </li>
    </ul>

    <h2>Productivity & utility</h2>
    <figure>
      <Image src={desktop} alt="My desktop" />
      <figcaption>My desktop opening NeoVim and fastfetch</figcaption>
    </figure>
    <ul>
      <li>
        <a href="https://archlinux.org">Arch</a>: my daily driver, after
        previously using <a href="https://endeavouros.com">EndeavourOS</a>. <a
          href="https://hyprland.org">Hyprland</a
        > as a window manager, is my favorite combination at the moment. Previously
        I have been using Manjaro KDE for years.
      </li>
      {
        utils.map((util) => (
          <li>
            <a href={util.href} title={util.name}>{util.name}</a>: {util.label}
          </li>
        ))
      }
      <li>
        <a href="https://github.com/kalwabed/dotfiles" title="My dotfiles">
          My dotfiles
        </a>
      </li>
    </ul>

    <h2>Hardware</h2>
    <ul>
      <li>
        <a href="https://pro.rexus.id/daxa-m84x-ultimate/"
          >Rexus Daxa M-84 Ultimate</a
        > keyboard: my first mechanical keyboard. With the default blue switch profile
        from the start. I don't really have time to go any further.
      </li>
      <li>
        <a
          href="https://www.asus.com/us/laptops/for-home/vivobook/vivobook-14-f1400-11th-gen-intel/"
          >ASUS VivoBook 14</a
        >: it's a laptop that I can easily carry around as a daily driver
        because of its light weight, slim body, and ample performance, as well
        as its spacious screen resolution.
      </li>
      <li>
        <a href="https://www.lg.com/id/monitor/gaming/24gn65r-b"
          >LG 24GN600 24" IPS</a
        >: Gaming monitor, but I use it on Linux, which I rarely use for gaming
        lol. I'm very happy with the performance and quality. Sharp, lots of
        features, no issues so far.
      </li>
    </ul>
  </div>
</DefaultLayout>

<style lang="scss">
  @use "../styles/breakpoints" as br;

  p {
    margin: {
      top: 0.5rem;
      bottom: 0.5rem;
    }
  }

  h2 {
    margin: {
      top: 3rem;
      bottom: 0.75rem;
    }
  }

  ul {
    margin-left: 0.8rem;
  }

  li {
    margin-bottom: 0.4rem;
  }

  figure {
    margin-bottom: 1.5rem;

    img {
      height: auto;
      width: 100%;
      background: var(--slate-3);
      border: 1px solid var(--slate-6);
      border-radius: 5px;

      @include br.tablet {
        margin: 0 -10vw;
        width: calc(100% + 20vw);
        max-width: none;
      }
    }

    figcaption {
      text-align: center;
      color: var(--fc-subtle);
      font-size: 14px;
    }
  }
</style>
